.register-container {
  margin: 100px 0px;
  .register-container-main {
    width: 30%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
  }

  .ant-space-vertical {
    width: 100%;

    .ant-space-horizontal {
      width: 100%;
      justify-content: space-between;

      .ant-input {
        width: 48%;
      }
    }

    .ant-input,
    .ant-picker {
      border-radius: 6px;
      width: 100%;
    }
  }

  .ant-btn-primary {
    background-color: #1890ff;
    border-color: #1890ff;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;

    &:hover,
    &:focus {
      background-color: #40a9ff;
      border-color: #40a9ff;
    }
  }

  .register-links {
    text-align: center;
    margin-top: 10px;

    a {
      color: #1890ff;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/* Custom Radio Button Group */
.ant-radio-group {
  display: flex;
  justify-content: space-between;

  .ant-radio-wrapper {
    flex: 1;
    text-align: center;
  }
}

/* DatePicker Customization */
.ant-picker {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  font-size: 14px;

  &:hover {
    border-color: #40a9ff;
  }
}
