.container_tour {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 30px;
  width: 80%;
  .main-container {
    max-width: 1200px;
    .title {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .location {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 20px;
    }
  }
}

.text {
  font-size: 20px;
}

.button {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  border-radius: 8px;
  font-size: 22px; /* Increased from 20px to 22px */
  line-height: 22px; /* Increased from 20px to 22px */
  min-width: 72px;
  padding: 7px 12px;
  color: #fff;
  background: #e9680c;
  font-weight: bold;
  min-width: 320px;
  width: 30%;
}
